.food-item-details{
    margin: 10px;
    padding: 10px;
}
.handle-count{
    border: 1px solid lightgray;
    border-radius: 20px;
    font-size: 25px;
}
.handle-count span {
    margin: 15px;
    cursor: pointer;
}
.food-item-details .cart-btn{
    background-image: linear-gradient(45deg, #ff4565, #ff4565);
    border-radius: 18px;
    width: 100px;
}
