.foodItem{
    margin-bottom: 20px;
}
.foodItem:hover{
    cursor: pointer;
    box-shadow:  0px -2px 22px -1px lightgrey;
    border-radius: 20px !important;
}
.card img{
    /* width: 250px; */
    margin-top: 10px;
}
.card{
    border: none !important;
}